{% extends "NEW/base.html" %}
{% load i18n %}
{% load biogps_tags %}

{% block full-title %}{% block title %}{% endblock %} | BioGPS{% endblock %}
{% block blockbots %}{% endblock %}

{% block branding %}
BioGPS
{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}{% endblock %}

{% block top-of-body %}
    {% comment %}
    {% if not user.is_authenticated %}
    <div id="header-message" style="display: none;" data-messageid="welcome">
        <span>
            Welcome to the complete resource for learning about gene and protein function
            — check out the <a href="/faq/">FAQ</a>!
        </span>
        <a href="#" class="close-notify" title="(click on this box to dismiss)">X</a>
    </div>
    {% endif %}
    {% endcomment %}
{% endblock %}

{% block footer_js %}
    {% if django_compress %}
        <script type='text/javascript' src='/assets/dist/steal.production.js?./production.js'></script>
    {% else %}
        <script type='text/javascript' src='/assets/js2/steal/steal.js?biogps,development'></script>
    {% endif %}
{% endblock %}
