#Before installing the following python modules, install these packages in ubuntu:
#    sudo apt-get install python-dev libpq-dev libxml2 python-libxml2 python-numpy libmemcached-dev

# Required python modules for BioGPS app running in prod mode
# To install all requirements, run:
#    pip install -r requirements.txt
Django==1.6.11
thrift==0.8.0
Werkzeug==0.8.3
boto==2.5.1
docutils==0.9.1
feedcache==1.4.1
feedparser==5.1.2
gdata==2.0.17
html2text==3.02
httplib2==0.7.4
requests==2.7.0
ipython>=0.12.1
nose==1.1.2
psycopg2==2.4.5   #require libpq-dev
pyes==0.19.1
pymongo==2.3
python-dateutil==2.1
python-openid==2.2.5
pytz==2012c
urllib3==1.4  #needed by pyes
vobject==0.8.1c

# The following libxml2 and pyxslt are required for XML serialization
# libxml2 may not work with pip, and need to install from the source
# http://xmlsoft.org/python.html
# use install binary packages as :
# sudo apt-get install libxml2 python-libxml2
#libxml2-python>=2.7.8

# we made a patch on pyxslt
#pyxslt==0.9.1
-e git+git://github.com/newgene/pyxslt.git#egg=pyxslt   #this is a patched version of pyxslt

#numpy is required for calculating correlations for dataset.
#the easiest way to install it is using apt-get
# sudo apt-get install python-numpy
#numpy>=1.6.1

#pylibmc is required for memcache based caching backend
#required in prod deployment, need "apt-get install libmemcached-dev" first
#pylibmc>=1.2.3


## Django-specific apps ##
South==0.7.3
django-breadcrumbs==1.1.0
django-debug-toolbar==0.9.4

#django-email-confirmation==0.2
-e git+git://github.com/gustavoam/django-email-confirmation@1daadf6345995bbb0d2640ca916d73ad0bd1831f#egg=django-email-confirmation   #this is a patched version for biogps

django-extensions==1.5.6
django-flag==0.1.1
django-mailer==0.1.0
pinax-notifications==3.0.0
django-pagination==1.0.7
django-ses==0.4.1
django-tagging==0.3.1
django-timezones==0.1.4
django-urlauth==0.1.8   ##
django-uwsgi-admin==0.1-alpha


## The following Django apps with our own patches ##
#django-account==0.1.14
-e hg+https://bitbucket.org/newgene/django-account#egg=django-account   #this is a patched version for biogps

#django-friends==0.1.5
#-e git+git://github.com/newgene/django-friends.git#egg=django-friends   #this is a patched version for biogps
-e git+git://github.com/gustavoam/django-friends@85a6b920113e0a100506aba1a77c548c2f0a6ac6#egg=django-friends   #this is a patched version for biogps

#django-threadedcomments==0.5.3
#-e git+git://github.com/newgene/django-threadedcomments.git#egg=django-threadedcomments   #this is a patched version for biogps
-e git+git://github.com/gustavoam/django-threadedcomments@f5bf3b3d298cc925592c73675defd4224871903d#egg=django-threadedcomments   #this is a patched version for biogps

django-pipeline==1.3.16

#django-rest-interface
-e hg+https://bitbucket.org/newgene/django-rest-interface#egg=django-rest-interface



## The following Django apps are included in BioGPS code repo, no need to install ##
#django-authopenid
#authsub
#bbauth

