.biogps-title {
    white-space: nowrap;
}

.biogps-title h1 {
    font-size: 14pt;
    color: #fff;
    padding-top: 3px;
    text-shadow: none;
}



.breadcrumbs {
    height: 15px;
    padding: 5px;
    background: transparent url(/assets/img/chrome/white-top-bottom.gif) repeat-x scroll 0 -1px;
    border: 1px solid #99BBE8;
    color: #555;
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma,arial,verdana,sans-serif;
    line-height: 15px;
}

.breadcrumbs a {
    color: #15428B;
}


.captcha {
    vertical-align: middle;
    padding-right:5px;
}
#id_captcha_1 {
    width:50px;
}


.invalid{
    color: red;
}

/* Register FORM */
/*
body.register { background:#eee; }
.register #container { background:white; border:1px solid #ccc; width:28em; min-width:300px; margin-left:auto; margin-right:auto; margin-top:100px; }
.register #content-main { width:100%; }
.register #content-table { width:100%; }
*/
.login td, .login th,
.loginBox td, .loginBox th,
.register td, .register th {
    vertical-align: top;
    padding: 2px;
}
.login .halfBox {
    margin-top: 15px;
    height: 350px;
}
/*.register table { width: 80%; } */
.register input[type="text"] {width: 160px;}
.register input[type="password"] {width: 160px;}

.register .roundBox { margin: 5px 0 15px 0; }

.register .openid_form {
    margin: 5px 0 15px 0;
    width: 96%;
}

.login .halfBox,
.register #required,
.register #optional {
    float: left;
    width: 442px;
}

.register #required { margin: 5px 15px 15px 0; }
.register #completion { clear: both; width: 96%; }
.register #completion .note { color: #777; }

.editAccountForm { width: 500px; }
.editAccountForm h1 { text-align: center; }

.editAccountForm,
.editAccountForm table {
    margin: 1em auto 0 auto;
}



/* ERROR NOTIFICATION */
.errorlist li {
    background: red url(/media/img/admin/icon_alert.gif) no-repeat scroll 5px 0.3em;
    border: 1px solid red;
    color: white;
    display: block;
    font-size: 12px !important;
    margin: 0 0 3px;
    padding: 4px 5px 4px 25px;
}