/* FRIENDS/INVITATIONS */
#invitations_box ul li {
    font-size: 12pt;
    color: #154288;
    font-weight: bold;
    list-style-position: inside;
    list-style-type: disc;
    padding: 10px 0px 5px 10px;
}

table.invitation_list {
    width: 750px;
    padding-left: 10px;
}
table.invitation_list td {
    padding: 5px 10px;
}
table.contact_list {
    width: 500px;
}
table.contact_list td {
    padding: 5px 10px;
}

#invitations_box form {
	display: inline;
}
.friendship_request {
    background: #DEF;
    border: 1px solid #9BC;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
h2.join_date, h2.creation_date {
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
.invitation_5, .invitation_7 {
    color: green;
    font-weight: bold;
}
.invitation_2 {
    color: gray;
}


/* FRIENDS */

div.friends {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    width: 60px;
    text-align: center;
}
div.friends .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}

/*INVITE_FRIEND.html*/
#invite_container h3{
    margin: 15px 0 5px 0;
}

#invite_container h4{
    margin: 30px 0 5px 16px;
}

#invite_container ul li{
    margin: 5px 0 5px 20px;
}

p.ownemailnotice{
    color: #f00;
    padding: 15px 0 5px 5px;
}

div.invited {
	width: 400px;
    margin: 0px 0 5px 16px;
    color: #444;
    background: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #D8DCDF;
    padding: 5px;
}

div.invite_error {
	padding-top: 15px;
}

/*CONTACTS*/
div.contacts_summary {
	padding: 10px 0 10px 5px;
}

div.contacts_import {
    background: #DEF;
}

div.contacts_import p,
div.contacts_import form,
div.contacts_list_box form {
    padding-left: 20px;
    display: inline;
}

div.vcard_import form table {
	padding-left: 20px;
}

div.contacts_import ul li {
    font-size: 12pt;
    color: #154288;
    font-weight: bold;
    list-style-position: inside;
    list-style-type: disc;
    padding: 10px 0px 5px 10px;
}

dl.twostep_import {
   padding-left: 30px;
}

dl.twostep_import dt {
	float: left;
	padding-left: 20px;
}

dl.twostep_import dd {
    padding:0px 0 5px 70px;
}

dl.twostep_import input,
dl.twostep_import form {
	display: block;
	margin-top: 10px;
	margin-left: 20px;
}

dl.twostep_import dt.current_step {
	background: transparent url(/assets/img/next.png) no-repeat 0 center ;
	font-weight: bold;
	padding-left: 20px;
}

dl.twostep_import dd.current_step {
    font-weight: bold;
}

table.contact_list th {
	font-weight: bold;
	padding-left:20px;
}
