.mystuff {
    margin-top: 5px 20px 5px 20px;
}

#mystuff_panel .maskBox{
}
#mystuff_panel .maskBox div {
    font-size: 12pt;
}

.mystuff h2,
.mystuff h3 {
	margin: 10px 0 0 10px;
	text-align:left;
	font-size: 2em;
}

.mystuff h3 {
	margin-left: 100px;
	text-align:left;
	font-size: 1em;
}

.mystuff .tagline {
	margin: 10px auto 10px 30px;
	text-align: left;
	font: bold 14px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.mystuff .navigation,
.mystuff .backtotop,
.mystuff .refreshlink {
	margin: 10px auto 5px 30px;
	text-align: left;
	font: bold 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.mystuff .backtotop {
	padding-left: 15px;
	background-image: url(/assets/img/arrow_up.gif)  !important;
	background-repeat: no-repeat;
}

.mystuff .refreshlink {
	padding-left: 15px;
	background-image: url(/assets/img/arrow_refresh_small.png)  !important;
	background-repeat: no-repeat;
}

.mystuff .section {
	background:#F0F5FA none repeat scroll 0 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #C0C4C6;
	margin:20px 50px 30px 15px;
	padding:10px;
	position:relative;
}
	/*this is to make tables in "section" div align to the left in IE */
	* html .mystuff .section {
		text-align: left;
	}

.mystuff .section h2 {
	font-size: 1.5em;
}

.mystuff .layout_table {
	border-collapse: collapse;
	border: 1px solid #1e4176;
	font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #363636;
	background: #fff;
	margin: 20px auto 10px 100px;
}

.mystuff .defaultlayout {
	background: #fef;
}

.mystuff .layout_table td,
.mystuff .layout_table th {
	border: 1px solid #d7e4f3;
	padding: .4em;
	color: #363636;
	padding: 6px 6px 6px 12px;
}

.mystuff .layout_table .index {
	width: 30px;
	text-align: center;
}

.mystuff .layout_table .details {
	width: 500px;
}

.mystuff .layout_table .actions {
	width: 50px;
}

.mystuff .name {
	width: 125px;
	margin: 0px;
	padding: 0px;
	float: left;
	text-align: right;
	font-weight: bold;
	font-size: 10pt;
}

.mystuff .value {
	width: 350px;
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: left;
	font-size: 10pt;
}

.mystuff .pluginlist {
	list-style-type: decimal;
	margin-left: 24px;
}

/* beginning of ".mystuff .plugin_table" */
.mystuff .plugin_table {
	border-collapse: collapse;
	border: 1px solid #1e4176;
	font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #363636;
	background: #fff;
	margin: 20px auto 10px 100px;
}

.mystuff .plugin_table tbody td,
.mystuff .plugin_table tbody th {
	border: 1px solid #d7e4f3;
	padding: .4em;
	color: #363636;
	padding: 6px 6px 6px 12px;
  	cursor: pointer;
  	cursor: hand;
}

.mystuff .plugin_table tbody .pluginindex {
	width: 30px;
	text-align: center;
}

.mystuff .plugin_table tbody .plugintitle {
	width: 200px;
}

.mystuff .plugin_table tbody .plugindescription {
	width: 400px;
}

.mystuff .plugin_table tbody .pluginlastupdated {
	width: 150px;
}

.mystuff .plugin_table thead th,
.mystuff .plugin_table tfoot th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #d7e4f3;
	text-align: left;
	background: #CAE8EA url(/assets/img/bg_header.jpg) no-repeat;
	color: #4f6b72;
	padding: 5px 0px 5px 5px;
}

.mystuff .plugin_table tbody tr:hover {
	background:#E5F3FF;
	border: 1px solid #03476F;
	color: #FFFFFF;
}

.mystuff .plugin_table tbody tr:hover th,
.mystuff .plugin_table tbody tr.odd:hover th {
    background:#E5F3FF;
}
/* end of ".mystuff .plugin_table" */

/* beginning of ".mystuff .genelist_table" */
.mystuff .genelist_table {
    border-collapse: collapse;
    border: 1px solid #1e4176;
    font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #363636;
    background: #fff;
    margin: 20px auto 10px 100px;
}

.mystuff .genelist_table tbody td,
.mystuff .genelist_table tbody th {
    border: 1px solid #d7e4f3;
    padding: .4em;
    color: #363636;
    padding: 6px 6px 6px 12px;
    /*cursor: pointer;
    cursor: hand;*/
}

.mystuff .genelist_table tbody .index {
    width: 30px;
    text-align: center;
}

.mystuff .genelist_table tbody .title {
    width: 150px;
}

.mystuff .genelist_table tbody .size {
    width: 50px;
}

.mystuff .genelist_table tbody .description {
    width: 350px;
}

.mystuff .genelist_table tbody .lastupdated {
    width: 150px;
}

.mystuff .genelist_table thead th,
.mystuff .genelist_table tfoot th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #d7e4f3;
    text-align: left;
    background: #CAE8EA url(/assets/img/bg_header.jpg) no-repeat;
    color: #4f6b72;
    padding: 5px 0px 5px 5px;
}

.mystuff .genelist_table tbody tr:hover {
    background:#E5F3FF;
    border: 1px solid #03476F;
    color: #FFFFFF;
}

.mystuff .genelist_table tbody tr:hover th,
.mystuff .genelist_table tbody tr.odd:hover th {
    background:#E5F3FF;
}
/* end of ".mystuff .genelist_table" */

.mystuff #spacer {
	height: 500px;
}
