/*
 * Welcome & Help Page CSS
 */

#welcome {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:8999; /* Just below Ext.WindowMgr's 9000 seed */
    background: #E0E0C0 url('/assets/img/gradient_sand.gif') repeat-x;
    overflow: auto;
}

#welcome #fixedWrapper {
    padding-top: 10px;
}

.gnf-sand {
    width: 150px;
    float: left;
}


.welcome-auth {
    width: 510px;
    padding: 4px;
    margin: 0 0 0 195px;
    *margin-left: 205px;
    border-color: #D8DCDF;
    text-align: center;
    font-size: 14px;
}

    .welcome-auth .inline-block {
        text-align: left;
    }

    .welcome-auth .centerCol {
        padding: 0 5px;
        border-left: 2px solid #DDD;
        border-right: 2px solid #DDD;
        margin: 0 4px;
    }

    .welcome-auth #login-form {
/*        margin-bottom: 3px;*/
/*        *margin-bottom: 0;*/
        margin-bottom: 0;
    }

    .welcome-auth input {
        width: 56px;
        height: 18px;
        font-size: 12px;
    }

    .welcome-auth #id_username {
        margin-right: 4px;
    }

    #welcome-loggedin {
        font-size: 14px;
    }

    .login-type {
        color: #666;
        font-size: 10px;
    }

    /* Used on the welcome page to hide the button, but still keep it visible
       to the IEs. This allows the Enter key to still submit. */
    #hidden-submit {
        position:absolute;
        top: -200px;
        left: -200px;
        z-index: -1;
    }


.welcome-header {
    clear: both;
    float: left;
    padding-bottom: 0;
    position: relative;
    margin: 10px 0 0 0;
    border-color: #BBB;
    width: 938px;

    background: #DEC07F;
    background: -moz-linear-gradient(center top -90deg, #FFF9CA, #DEC07F);
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #FFF9CA), color-stop(1, #DEC07F));
    -webkit-background-origin: padding-box;
    -pie-background: linear-gradient(-90deg, #FFF9CA, #DEC07F);
    behavior: "url(/assets/less/flawless/core/production/framework/css3/PIE.txt.htc)";
}

/* IE Width Handling */
.ie6 .welcome-header,
.ie7 .welcome-header,
.ie8 .welcome-header,
.ie9 .welcome-header {
    width: 958px;
}

    .chrome-preview {
        background-position: -160px -312px;
        float: right;
        height: 185px;
        margin-top: -40px;
        position: relative;
        width: 223px;
    }

    .welcome-logo {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
        width: 280px;
    }

    #welcome-link-library {
        display: block;
        position: absolute;
        bottom: -1px;
        left: -1px;
        padding: 6px 20px;

        background: -moz-linear-gradient(center top -90deg, #FFF9CA, #DEC07F);
        background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #FFF9CA), color-stop(1, #DEC07F));
        -webkit-background-origin: padding-box;
        -pie-background: linear-gradient(-90deg, #FFF9CA, #DEC07F);
        behavior: "url(/assets/less/flawless/core/production/framework/css3/PIE.txt.htc)";

        border: 1px solid #DEC07F;
        -moz-border-radius: 0px 6px 0px 6px;
        -webkit-border-bottom-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        border-radius: 0px 6px 0px 6px;
        border-left-color: #BBB;
        border-bottom-color: #BBB;
        text-align: center;
        *width: 10em;
    }

        #welcome-link-library:hover {
            text-decoration: none;
            border-color: #1E4176;

            background: -moz-linear-gradient(center top 90deg, #FFF9CA, #DEC07F);
            background: -webkit-gradient(linear, center top, center bottom, color-stop(1, #FFF9CA), color-stop(0, #DEC07F));
            -webkit-background-origin: padding-box;
            -pie-background: linear-gradient(90deg, #FFF9CA, #DEC07F);
            behavior: "url(/assets/less/flawless/core/production/framework/css3/PIE.txt.htc)";
        }

    .welcome-desc {
        font-size: 20px;
        margin-top: 35px;
    }

    .welcome-circadian {
        margin-top: 15px;
        text-align: center;
    }

    #js_required,
    #ie_unsupported {
        color: #900;
        border: 1px solid #900;
        background: #F99;
        font-size: 14px;
        text-align: center;
        padding: 5px;
        margin: 10px 200px;
    }

    #ie_unsupported {
        display: none;
    }

    .ie6 #ie_unsupported,
    .ie7 #ie_unsupported {
        display: block;
    }


.welcome-wide {
    position: relative;
    margin: 15px 0 0 0;
    float: left; /* Used to fix the Advanced Search link in the IEs */
}

.welcome-circ-box {
    clear: both;
    margin: 5px auto 0 auto;
    padding-left: 297px;
}


.welcome-right {
    position: relative;
    float: right;
    width: 272px;
    margin: 0 0 15px 15px;
}
.welcome-right .roundBox { margin: 0; }

.welcome-left {
    position: relative;
    float: left;
    width: 288px;
    margin: 15px 15px 15px 0;
}
.welcome-left .roundBox {
    margin: 0;
}

#welcome-left-nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

    #welcome-left-nav .slide-control{
        display: inline-block;
        height: 14px;
        width: 14px;
    }

    #welcome-left-nav #prev-item {
        background-position: -426px -43px;
    }

    #welcome-left-nav .pause-img {
        background-position: -449px -43px;
    }

    #welcome-left-nav .play-img {
        background-position: -449px -66px;
    }

    #welcome-left-nav #next-item {
        background-position: -472px -43px;
    }

.welcome-center {
    position: relative;
    float: left;
    width: 657px;
    margin-top: 15px;
}
.welcome-center .roundBox {
    float: left;
    *width: 100%; /* IE only */
    position: relative;
    margin: 0;
}

#welcome .orbar {
    width: 245px;
}

.loginBox {
    width: 250px;
    margin: 0 auto 15px auto;
    text-align: center;
}
* html .loginBox { width: 272px; }

    .loginBox h2 { text-align: left; }
    .loginBox h4 { text-align: center; }

    .loginBox table {
        margin-left: auto;
        margin-right: auto;
    }

    .loginBox label { font-size: 10pt; }

    .loginBox #id_username, .loginBox #id_password  {width: 150px;}

/* Welcome page form */

#welcome-help {
    float: left;
    width: 272px;
    height: 236px;
    position: relative;
}

#welcome-search {
    position: relative;
    margin: 0 0 0 287px;
    width: 651px;
    *width: 648px;
    height: 236px;
}

#qsearch_box {
    margin-right: 175px;
}

#qsearch_examples {
    float: right;
    width: 150px;
    margin-top: 10px;
}

    #qsearch_examples ul {
        margin-top: 5px;
        padding-left: 10px;
    }

    #qsearch_examples ul li {
        margin-bottom: 5px;
    }

#qsearch_form {
    position: relative;
}

    #qsearch_form .searchbar {
        text-align: right;
        margin-top: 5px;
        color: #666;
        font-size: 0.8em;
    }

    #qsearch_form .searchbar input{
        padding-left: 25px;
        padding-right: 25px;
    }

#qsearch_query {
    height: 150px;
    width: 100%;
    overflow: auto;
}
* html #qsearch_query { width: 443px; }

.advanced_link {
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    padding: 5px;
    border: 1px solid #fff;
    -moz-border-radius: 6px 0px 6px 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius: 6px 0px 6px 0px;
    border-right-color: #C0C4C6;
    border-bottom-color: #C0C4C6;
    text-align: right;
    *width: 10em;
}

    .advanced_link .smallNote {
        color: #666;
        margin-right: 0.5em;
    }

    .advanced_link:hover {
        text-decoration: none;
        background: #EBF0F7;
        border-color: #1E4176;
    }



#symatlas-mask {
    position: absolute;
    z-index: 19000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    background: #444;
}

#symatlas-box {
    position: absolute;
    top: 200px;
    left: 35%;
    width: 350px;
    z-index: 19001;
    background: #ccc;
    color: #000;
    border: 1px solid #000;
    padding: 5px;

    /* Box Shadowing */
    /* Right Bottom Blur Color */
    box-shadow: 0px 5px 20px #000;
    -moz-box-shadow: 0px 5px 20px #000;
    -webkit-box-shadow: 0px 5px 20px #000;
}

#symatlas {
    background: #ffc;
    color: #006;
    padding: 10px;
    text-align: center;
}

    #symatlas p a {
        font-weight: bold;
    }

    #symatlas .smallNote {
        margin-top: 10px;
        text-align: left;
    }




#welcome-help .viewall {
    position: relative;
    float: right;
    font-size: 10pt;
}

#welcome-help .step {
    position: relative;
    display: block;
    color: #000;
    background: #F0F5FA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #C0C4C6;
    margin: 10px;
    padding-left: 25px;
    height: 35px;
    width: 220px;
    *width: 247px;
}

#welcome-help a.step:hover {
    text-decoration: none;
    background: #EBF0F7;
    border-color: #1E4176;
    cursor: pointer;
}

#welcome-help .stepNum {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 12px;
    height: 25px;
    background: #fff;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #C0C4C6;
    border-right-color: #D8DCDF;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#welcome-help a.step:hover .stepNum {
    border-color: #1E4176;
}

#welcome-help .stepIcon {
    float: left;
    height: 32px;
    width: 32px;
    position: relative;
    padding-top: 2px;
    *padding-top: 1px;
}

#welcome-help .stepName {
    font-size: 16px;
    padding-left: 40px;
}

#welcome-help .stepText {
    color: #666;
    font-size: 12px;
    padding-left: 57px;
}

#welcome-help .stepSearchIcon {
    background-position: -141px -66px;
}

#welcome-help .stepViewIcon {
    background-position: -458px -4px;
}

#welcome-help .stepBrowseIcon {
    background-position: -254px -68px;
}

#welcome-help .stepBuildIcon {
    background-position: -336px -68px;
}


/* Who's using BioGPS */

#welcome-stats {
    padding-bottom: 0px;
}

#welcome-infobox {
    height: 244px;
    padding-bottom: 0px;
    width: 265px;
}

#infobox-slideshow {
    height: 200px;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 265px;
}

.usage {
    color: #666;
    font-size: 14px;
    padding: 5px 0 0 15px;
}

    .usage-stat {
        color: #000;
        font-size: 15px;
        font-weight: bold;
    }

.featured {
    color: #666;
    text-align: center;
    margin-top: 15px;
}

    .featured img {
        border-size: 1px;
    }

.infobox-featured {
    height: 205px;
    margin: 0px;
    padding: 0px;
    width: 265px;
}

    .infobox-featured h2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

.infobox-featured-wrapper {
    margin-top: -10%;
    padding: 0px;
    position: absolute;
    top: 50%;
}

.infobox-featured-main {
    text-align: center;
    width: 255px;
}

.infobox-featured-img {
    background-position: -176px -72px;
    height: 24px;
    width: 25px;
}

.infobox-featured-openhelix-img {
    background-position: -377px -85px;
    display: inline-block;
    height: 48px;
    width: 108px;
}

.infobox-quote {
    height: 205px;
    margin: 0px;
    padding: 0px;
    width: 265px;
}

    .infobox-quote h2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .infobox-quote p {
        line-height: 1;
    }

.infobox-quote-img {
    background-position: -28px -74px;
    height: 20px;
    width: 24px;
}

.infobox-quote-wrapper {
    padding: 0px;
    position: absolute;
    top: 50%;
}

.infobox-quote-main {
    font-size: 20px;
    overflow: hidden;
    padding-left: 10px;
    width: 255px;
}

.infobox-quote-detail {
    font-size: 20px;
    text-align: center;
}

.infobox-stat {
    height: 205px;
    margin: 0px;
    padding: 0px;
    width: 265px;
}

    .infobox-stat h2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

.infobox-stat-wrapper {
    margin-top: -15%;
    padding: 0px;
    position: absolute;
    top: 50%;
}

.infobox-stat-main {
    font-size: 50px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    width: 265px;
}

.infobox-stat-detail {
    font-size: 20px;
    text-align: center;
}

.infobox-stat-img {
    background-position: -108px -71px;
    height: 23px;
    width: 30px;
}

.infobox-trend {
    height: 205px;
    margin: 0px;
    padding: 0px;
    width: 265px;
}

    .infobox-trend h2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 5px;
    }

    .infobox-trend-title {
        font-size: 16px;
    }

.infobox-trend-wrapper {
    margin-top: -25%;
    padding: 0px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.infobox-trend-main {
    font-weight: bold;
    line-height: 100%;
    margin: auto;
    padding-left: 20px;
    width: 90%;
}

    .infobox-trend-main td {
        padding: 5px 20px 5px 20px;
    }

.infobox-trend-detail {
    font-size: 20px;
    text-align: center;
}

.infobox-trend-img {
    background-position: -232px -73px;
    height: 22px;
    width: 18px;
}

#welcome-news {
    height: 235px;
}

#welcome-iphone {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 0px;
    text-align: center;
}

    #welcome-iphone p {
        font-size: 16px;
        font-weight: bold;
    }

    #welcome-iphone .left {
        position: relative;
        width: 48px;
    }

    #welcome-iphone .right {
        position: relative;
        width: 70px;
    }



/* Blog posts */

.firstentry {
    padding-left: 10px;
}

    .firstentry .title, .welcome-feedentry {
        font-size: 16px;
        font-weight: bold;
    }

    .firstentry .author {
        color: #666;
    }

.welcome-feedentry {
    padding: 5px 0 0 16px;
}

.welcome-blogicon {
    position: absolute;
    bottom: 10px;
    right: 14px;
    width: 32px;
    height: 35px;
}

    .welcome-blogicon a {
        background-position: -295px -73px;
        display: inline-block;
        height: 29px;
        width: 32px;
    }

#welcome_notice {
    width: 400px;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 32px;
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

#welcome_notice a {
    color: red;
    font-weight: bold;
    font-size: large;
}


/* Help Pages */

#smallHow {
    position: relative;
}

#smallHow .viewall {
    position: relative;
    float: right;
    font-size: 12pt;
}

#smallHow .step {
    position: relative;
    float: left;
    color: #000;
    background: #F0F5FA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #C0C4C6;
    margin: 10px;
    padding: 10px;
    height: 170px;
    width: 190px;
    text-align: center;
}

#smallHow a.step:hover {
    text-decoration: none;
    background: #EBF0F7;
    border-color: #1E4176;
    cursor: pointer;
}

#smallHow .stepNum {
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fff;
    -moz-border-radius: 6px 0px 6px 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius: 6px 0px 6px 0px;
    border: 1px solid #D8DCDF;
    border-right-color: #C0C4C6;
    border-bottom-color: #C0C4C6;
    padding: 5px;
    font-size: 2em;
}

#smallHow a.step:hover .stepNum {
    border-right-color: #1E4176;
    border-bottom-color: #1E4176;
}

#smallHow .stepName {
    font-size: 2em;
    text-align: center;
}



/*
 * Help page
 */
.help_screencasts,
.help_group {
    display: inline;
    float: left;
    width: 443px;
    height: 12em;
    margin-top: 15px;
}

.help_screencasts { margin-right: 15px; }





/*
 * How It All Works page
 */
#bigHow {
    margin-top: 20px;
}

#bigHow .step {
    display: inline-block; /* IE6 fix, won't break other browsers. */
    position: relative;
    background: #F0F5FA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #C0C4C6;
    margin: 10px;
    padding: 10px;
}

#bigHow .stepNum {
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fff;
    -moz-border-radius: 6px 0px 6px 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius: 6px 0px 6px 0px;
    border: 1px solid #D8DCDF;
    border-right-color: #C0C4C6;
    border-bottom-color: #C0C4C6;
    padding: 5px;
    font-size: 2em;
}

#bigHow .stepNum a { color: #000; }
#bigHow .stepNum a:hover { text-decoration: none; }

#bigHow .stepName {
    margin-left: 20px;
    font-size: 2em;
}

    #bigHow .stepName span {
        font-size: 0.75em;
    }

#bigHow .icon {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#bigHow .screencast {
    float: right;
    font-size: 1.2em;
    margin-top: 10px;
}



/*
 * FAQ page
 */
.faq {

}

.faq .roundBox { margin-bottom: 20px; }
.faq h3 { margin-bottom: 5px; }

.faq .gridtable {
    margin: 5px auto;
    width: 400px;
}


/*
 * iPhone page
 */
#iphone-preview {
    float: left;
    width: 247px;
    height: 516px;
}

.iphone-text {
    float: left;
    width: 670px;
    margin: 0 0 0 15px;
}

.iphone-text .roundBoxBlue {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    position: relative;
}

.iphone-text .roundBox {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.appstore-badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 116px;
    height: 40px;
}

.apple-tm {
    float: left;
    padding: 15px 10px 0 10px;
    font-size: 8pt;
    color: #7C7C74;
}
