{% extends "NEW/base_auth.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; {% trans 'Forgot your username' %}</div>{% endblock %}

{% block title %}{% trans 'Request for username successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Request for username successful' %}</h1>

<p>{% trans "We've e-mailed you your username associated with the email address you provided. You should be receiving it shortly." %}</p>

{% endblock %}

