/* Dataset flat page */
#dataset-factors-title {
    font-weight: bold;
}

#factors-table {
    border: 1px solid #D8DCDF;
}

    #factors-table th {
        background: #F0F5FA;
        border: 1px solid #C0C4C6;
        padding: 0.2em 0.5em;
    }

    #factors-table td {
        border: 1px solid #D8DCDF;
        padding: 0.2em 0.5em;
    }

    tr.even-factor {
        background: #F0F8FF;
    }

    tr.odd-factor {
        background: #FFF;
    }
