#profileControlBox {
/*    position: absolute;*/
/*    z-index: 19001;*/
    color: #444;
    padding: 20px 10px 0 10px;
    text-align: center;
    width: 400px;
}
    
    #accountLinks {
        float: left;
        text-align: center;
        width: 200px;
    }

#profileHeader { margin: 0 0 15px 0; }

#profileName h1 {
    display: inline;
}

#namePrivacy {
    color: #666;
}

.profileControls {
    text-align: right;
    line-height: 30px;
}

.profileInfoField textarea {
    margin: 0 0 0 40px;
}

.profileInfoField,
.profileLinkField {
    margin: 10px 0;
}

#profileLinks li {
    font-size: 13pt;
    padding: 0 0 0 40px;
}

#savingProfile {
    position: absolute;
    top: 0;
    left: 500px;
    background: #990000;
    color: #fff;
    padding: 10px;
    z-index: 19002;
}

#friendMessageBox {
    padding: 15px;
}
