.pluginbox-quick {
    position: relative;
    display: block;
    border-bottom: 1px dotted #A3BAE9;
    zoom: 1; /* IE6,7,8: keep Details link visible on hover */
}
a.pluginbox-quick {
    color: #000;
}
.pluginbox-quick:hover {
    text-decoration: none;
}

.pluginbox-quick.biogpsusers { background: #F0F5FA; }
.pluginbox-quick.myself { background: #F9F2F2; }
.pluginbox-quick.gnfusers { background: #E7F2E7; }
.pluginbox-quick.gnfusers:hover { background: #EBF0F7; }

.pluginbox-quick .name {
    font-weight: bold;
}

.pluginbox-quick .usage {
    color: #999;
}

.pluginbox-quick .url {
    color: #1E4176;
}

.pluginbox-quick .detailLink {
    float: right;
}