@import url('/media/css/base.css');
@import url('/media/css/layout.css');

/* Register FORM */
body.register { background:#eee; }
.register #container { background:white; border:1px solid #ccc; width:28em; min-width:300px; margin-left:auto; margin-right:auto; margin-top:100px; }
.register #content-main { width:100%; }
.register #content-table { width:100%; }
.register form { margin-top:1em; }
.register td, th {border-bottom:none;}
.register input[type="text"] {width: 80%;}
.register input[type="password"] {width: 80%;}
