{% extends "base_site.html" %}
{% load biogps_tags %}
{% load compressed %}

{% block corestyle %}
    {% extcssfiles %}
    {% compressed_css 'friends' %}
{% endblock %}
{% block extrahead %}
    {% extdirect_api %}
{% endblock %}


{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; <a href="{%url friends %}">Friends</a> &rsaquo; Invite a friend</div>{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block title %}Invite a Friend | BioGPS{% endblock %}

{% block content %}
<div id="fixedWrapper">
<div class="roundBoxBlue">
<h1>Invite a friend</h1>

<div id="usersearch_container"></div>

<div id="invite_container">
</div>

</div>
</div>

{% compressed_js 'friends_invite' %}
<!-- <script type="text/javascript" src="/assets/js/ext/3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/assets/js/ext/3.1.1/ext-all-debug.js"></script>
<script type="text/javascript" src="/extdirect/remoting/provider.js/"></script>
<script type="text/javascript" src="/assets/js/biogps/friends.js"></script> -->

{% endblock %}
