<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{subject}}</title>
</head>
<body>
<p>Dear {{user.get_full_name}},</p>

<p>As someone who's registered a plugin on <a href="http://biogps.gnf.org/">BioGPS</a>, I'm writing to tell you about a new feature that we recently introduced.</p>

<p>BioGPS now enables each user to create and maintain their individual scientific social network with other BioGPS users.  You can read our <a href="http://biogps.blogspot.com/2010/04/user-profiles-and-social-networks.html">blog post</a> for the full details.  But in a nutshell, this improvement allows end users to more easily discover new resources, and allows developers of new resources to be more easily discovered.</p>

<p>The plugin(s) you've registered are visible on your new <a href="http://biogps.gnf.org/profile/">BioGPS profile page</a>.  If you've shared your plugin, then adding users to your BioGPS network of friends will attract more eyeballs to the plugin and increase its popularity.</p>

<p>Even if you haven't made your plugin public, these social features may be of interest to you.  Soon, we will allow you to share plugins on a user-by-user basis from your personal social network of users.  So you can share new tools with colleagues and collaborators before releasing them to the world.</p>

<p>Although we're focusing on plugin sharing at the moment, we will next be turning to the sharing of other key biological objects like gene sets, BioGPS layouts, and numeric data sets.  We think these social networking features will be an important foundation of BioGPS moving forward.</p>

<p>Best regards,<br>
Andrew Su (on behalf of the BioGPS team)</p>

<p>P.S. If you or anyone you know might be interested in making this BioGPS vision a reality, we are currently recruiting for an <a href="http://www.gnf.org/careers/job_20100223.htm">additional software developer</a>.</p>
</body>
</html>
