{% load biogps_tags %}
{% load compressed %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> <!--<![endif]-->
<head>
    <title>BioGPS - your Gene Portal System</title>
    <meta name="title" content="BioGPS - your Gene Portal System">
    <meta name="description" content="BioGPS is a free extensible and customizable gene annotation portal, a complete resource for learning about gene and protein function.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="alternate" type="application/rss+xml" title="BioGPS Blog Feed" href="http://feeds.feedburner.com/biogps" />
    <link rel="apple-touch-icon" href="/assets/img2/apple-touch-icon.png">

    {% ga_header user_type %}
    {% compressed_js 'core' %}
    {% extcssfiles %}
    {% compressed_css 'mainApp' %}
    <!-- GC -->

    <!--[if lt IE 7]>
        <script type="text/javascript" src="/assets/js/unitpngfix.js"></script>
    <![endif]-->
</head>

<body scroll="no" id="docs">
<script>
coreDispatcher.dispatch();
</script>

    {% comment %}
    <!-- Site-wide Announcement -->
    {% if site_wide_announcements %}
        <div id="site_wide_announcements">
            <ul>
                {% for announcement in site_wide_announcements %}
                <li>
                    <p class="title">{{announcement.title}}:</p>
                    <div class="close_btn"><a href="javascript: biogps.hide_announcement({{announcement.pk}})">[X]</a></div>
                    <div class="message"> {{ announcement.content }}</div>
                    <p class="footer-left">{{announcement.creation_date|timesince}} ago</p>
                    <p class="footer-right"><a href="javascript: biogps.hide_announcement({{announcement.pk}})">[X] I got it. Don't show it any more</a><p>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <!-- END Site-wide Announcement -->
    {% endcomment %}

    {% if symatlas %}
        <div id="symatlas-mask"></div>
        <div id="symatlas-box">
            <div id="symatlas">
                <h1>Hello SymAtlas user!</h1>
                <p>Welcome to BioGPS, the successor to GNF's popular SymAtlas website.
                    <a href="http://biogps.blogspot.com/2009/03/welcome-symatlas-users.html" target="_blank">Read all about the changes</a>, take it for a spin, then
                    give us your <a href="http://groups.google.com/group/biogps" target="_blank">feedback</a>!
                </p><br />
                <a href="#" onClick="coreDispatcher.hideSymatlas('{{symatlas.query}}');return false;" title="Click to start using BioGPS">
                    <img src="/assets/img/launch_button_symatlas.gif" alt="Start BioGPS" /></a>
                <div class="smallNote">
                    SymAtlas is no longer available.
                </div>
            </div>
        </div>
    {% endif %}

    <div id="welcome">
        <div id="container">
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                <div id="fixedWrapper">
                    <!-- <div class="gnf-sand">
                        <a href="http://www.gnf.org/" title="BioGPS is brought to you by the Genomics Institute of the Novartis Research Foundation" target="_blank">
                            <img src="/assets/img/gnf_logo_sand.gif" width="150px" height="44px" />
                        </a>
                    </div> -->
                    <div class="welcome-auth roundBox">
            	        {% if user.is_authenticated %}
                	        <div id="welcome-loggedin">
                	            {% if user.first_name %}Hi <b>{{ user.first_name|escape }}</b>!{% endif %}
                	            You are logged in as <a href="{{ user.get_absolute_url }}" title="Manage Your Account">{{ user.clean_username|escape }}</a> <span class="login-type">[<a href="{% url auth_logout %}">logout</a>]</span>.
                	            <br />
                	            <span class="login-type">(Are you <a href="{% url auth_logout %}{% if goto_url %}?next={{ goto_url }}{% endif %}">not {{ user.display_name|escape }}</a>?)</span>
                	        </div>
                	    {% else %}
                	        <div class="inline-block">
                    	        <a href="{% url auth_register %}">Sign Up</a> or
                    	        <a href="{% url auth_login %}">Login</a>
                	        </div>

                		    <div class="inline-block centerCol">
                		        <div class="login-type">BioGPS account</div>
                    	        <form action="{%if with_https %}https://{{site}}{%endif%}{% url auth_login %}" method="post" id="login-form">
                    	            <input type="text" name="username" id="id_username"
                	                        value="username" class="inactive"
                	                        onfocus="coreDispatcher.onInputFocus(this,event);"
                                            onblur="coreDispatcher.onInputBlur(this,event);" />
                    	            <input type="password" name="password" id="id_password"
                	                        value="password" class="inactive"
                	                        onfocus="coreDispatcher.onInputFocus(this,event);"
                                            onblur="coreDispatcher.onInputBlur(this,event);" />
                    	            <input type="submit" value="Log in" id="hidden-submit" />

                    	            {% if goto_url %}
                    	                <input type="hidden" name="goto" value="{{ goto_url }}" />
                    	            {% endif %}
                    	        </form>
                    	    </div>

                    	    <div class="inline-block">
                    	        <div class="login-type">OpenID account
                    	            (<a href="/help_openid/">what's that?</a>)
                    	        </div>
                        		<div id="openid_btns">
                            	    <a class="google openid_large_btn" title="Google" href="#" onClick="coreDispatcher.openid('google');return false;"></a>
                            	    <a class="yahoo openid_large_btn" title="Yahoo" href="#" onClick="coreDispatcher.openid('yahoo');return false;"></a>
                            	    <a class="openid_more_btn" title="More OpenID options" href="{% url auth_login %}{% if goto_url %}?next={{ goto_url }}{% endif %}"></a>
                        		</div>
                        		<form id="openid_form" name="fopenid" action="{%if not dev_server %}https://{{site}}{%endif%}{% url auth_login %}" method="post">
                        		    <input name="bsignin" type="hidden" />
                        		    <input id="openid_url" name="openid_url" type="text" value="" />
                        		    {% if goto_url %}
                    	                <input type="hidden" name="next" value="{{ goto_url }}" />
                    	            {% endif %}
                        		</form>
                        	</div>
                		{% endif %}
                	</div>

                    <div class="welcome-header roundBox">
                        <div class="chrome-preview">
                            <img src="/assets/img/chrome_genereport.png" alt="BioGPS Gene Report" width="223px" height="185px" />
                        </div>

                        <div class="welcome-logo">
                            <img src="/assets/img2/biogps_logo.png" alt="BioGPS - The Gene Portal Hub" width="280px" height="82px" />
                        </div>

                        <a id="welcome-link-library" href="/plugin/" title="Check out the new Plugin Library!">
            			    <div>Plugin Library &raquo;</div>
            			</a>

                        {% ifequal alt_defaultlayout 950 %}
                            <div class="welcome-circadian">
                                <img src="/assets/img/circadian_logo2.png" alt="BioGPS - The Gene Portal Hub" width="310px" height="99px" />
                            </div>
                        {% else %}
                            <div class="welcome-desc">
                                A free <i>extensible</i> and <i>customizable</i>&nbsp;<b>gene annotation portal</b>,
                                a complete resource for learning about <b>gene and protein function</b>.
                            </div>
                        {% endifequal %}

                        <div id="ie_unsupported">Internet Explorer 6 &amp; 7 are no longer supported.</div>
                        <noscript>
                        <div id="js_required">JavaScript <b>must</b> be enabled to use this website.</div>
                        </noscript>

                        <div class="clear"></div>
                	</div>


                    <div class="welcome-wide roundBox">
            	        <div id="welcome-help">
                	        <h1>Simple to use</h1>
                	        <a class="step" href="/help_steps/#step1">
                    			<div class="stepNum">1</div>
                    			<div class="stepIcon"><img src="/assets/img/icons/search_button_green_32.png" width="32px" height="32px" /></div>
                    			<div class="stepName">Search</div>
                    			<div class="stepText">for your gene of interest</div>
                    		</a>

                    		<a class="step" href="/help_steps/#step2">
                    			<div class="stepNum">2</div>
                    			<div class="stepIcon"><img src="/assets/img/icons/activity_monitor_chart.png" width="32px" height="32px" /></div>
                    			<div class="stepName">View</div>
                    			<div class="stepText">the gene annotation report</div>
                    		</a>

                    		<a class="step" href="/help_steps/#step3">
                    			<div class="stepNum">3</div>
                    			<div class="stepIcon"><img src="/assets/img/icons/web_layout_info_32.png" width="32px" height="32px" /></div>
                    			<div class="stepName">Browse</div>
                    			<div class="stepText">the gene report layouts</div>
                    		</a>

                    		<a class="step" href="/help_steps/#step4">
                    			<div class="stepNum">4</div>
                    			<div class="stepIcon"><img src="/assets/img/icons/window_hammer_chart_32.png" width="32px" height="32px" /></div>
                    			<div class="stepName">Build</div>
                    			<div class="stepText">your own gene report</div>
                    		</a>

                    		<span class="viewall"><a href="/help_steps/">Details &raquo;</a></span>
                	    </div>

                		<div id="welcome-search">
                			<h1>Search genes by Symbol or Accession</h1>
                			<div id="qsearch_examples">
            			        <h4>Example Searches</h4>
            			        <div class="smallNote">(click to try these samples)</div>
            			        <ul>
                			        <li><a href="#" onClick="coreDispatcher.useSampleSearch('CDK2\nCDK3');return false;">Gene Symbol(s)</a></li>
                			        <li><a href="#" onClick="coreDispatcher.useSampleSearch('CDK?');return false;">Wildcard queries</a></li>
                			        <li><a href="#" onClick="coreDispatcher.useSampleSearch('GO:0006275');return false;">Gene Ontology</a></li>
                			        <li><a href="#" onClick="coreDispatcher.useSampleSearch('1007_s_at\n1053_at\n117_at\n121_at\n1255_g_at\n1294_at\n1316_at\n1320_at\n1405_i_at\n1431_at');return false;">Affymetrix IDs</a></li>
                			        <li><a href="#" onClick="coreDispatcher.useSampleSearch('IPR008351');return false;">Interpro</a></li>
            			        </ul>
            			    </div>
                			<div id="qsearch_box" class="roundBoxBlue">
                				<form id="qsearch_form" action="javascript:void(null)" method="POST" onsubmit="coreDispatcher.doSearch(this,event);return false;">
                					<input type="hidden" name="qtype" value="symbolanno" />
                					<textarea id="qsearch_query" name="query" class="x-form-textarea x-form-field x-form-focus"></textarea>
                					<br />
                					<div class="searchbar">
                					    Press Ctrl-Enter or click
                					    <input type="submit" value="Search by Symbol or Accession" />
                					</div>
                				</form>
                			</div>
                		</div>
                		<a class="advanced_link" href="#" onClick="coreDispatcher.gotoSearch();return false;" name="Goto Advanced Search">
            			    <div>Advanced Search &raquo;</div>
            			    <div class="smallNote">(keyword, interval, etc.)</div>
            			</a>
                		<script>document.getElementById('qsearch_query').focus();</script>
                    	<div class="clear"></div>
                	</div>


                	{% ifequal alt_defaultlayout 950 %}
                        <div class="welcome-circ-box roundBoxBlue">
                            <a href="http://plugins.biogps.org/cgi-bin/circ_search.cgi">
                                <h1>Search genes by Amplitude or Period &raquo;</h1>
                            </a>
                        </div>
                    {% endifequal %}


                    <div class="welcome-left">
                        <div id="welcome-infobox" class="roundBox">
                            {# Turn off autoescaping to display html embedded in results #}
                            {% autoescape off %}

                            <div id="infobox-slideshow">
                                {# Wrap infobox items in divs for jQuery cycle #}
                                {% for infobox_item in infobox_items %}

                                    {% if forloop.first %}
                                        <div class="infobox-{{ infobox_item.0 }}"
                                    {% else %}
                                        <div class="infobox-{{ infobox_item.0 }}" style="display:none"
                                    {% endif %}
                                    >{{ infobox_item.1 }}<div class="infobox-{{ infobox_item.0 }}-wrapper"

                                    {# Use featured/quotes dynamically-generated top margin values #}
                                    {% if infobox_item.0 == 'quote' or infobox_item.0 == 'featured' %}
                                        style="margin-top:{{ infobox_item.4 }}"
                                    {% endif %}
                                    ><div class="infobox-{{ infobox_item.0 }}-main">{{ infobox_item.2 }}</div><div class="infobox-{{ infobox_item.0 }}-detail">{{ infobox_item.3 }}</div></div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div id="welcome-left-nav"><a id="prev-item" href="#" onClick="pauseResumeSlideshow('pause');"><img src="/assets/img/icons/control_rewind_blue.gif"></a> &nbsp; <a id="pause-item" href="#" onClick="pauseResumeSlideshow();"><img id="pausePlay" src="/assets/img/icons/control_pause_blue.gif"></a> &nbsp; <a id="next-item" href="#" onClick="pauseResumeSlideshow('pause');"><img src="/assets/img/icons/control_fastforward_blue.gif"></a></div>
                            {% endautoescape %}

                        </div>
                    </div>

                    <div class="welcome-center">
                        <div id="welcome-news" class="roundBox">
                            <h2>News and Musings</h2>
                            {% if blog_entries %}
                                <div class="firstentry roundBoxBlue">
                                    <a class="title" href="{{ blog_entries.0.link }}" target="_blank">{{ blog_entries.0.title }}</a>
                                    <span class="author"> &nbsp; by {{ blog_entries.0.author }}</span><br>
                                    {{ blog_entries.0.summary|striptags|truncatewords:40}}
                                    &nbsp;&nbsp;&nbsp;[<a href="{{ blog_entries.0.link }}" target="_blank"><b>view more</b></a>]
                                </div>

                        	{% for entry in blog_entries %}
                        	    {% if not forloop.first %}
                                	<div class="welcome-feedentry">
                                	    <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
                                	</div>
                    		    {% endif %}
                        	{% endfor %}
                            {% else %}
                                There was an error loading the BioGPS blog and the administrators have been notified. Refreshing this page may work now.
                    	    {% endif %}
                    	    <div class="welcome-blogicon">
                    	        <a href="http://sulab.org/biogps/" target="_blank" title="Read more at the BioGPS Blog">
                    	            <img src="/assets/img/icons/comment_user_rss_32.png" alt="Read more at the BioGPS Blog" width="32px" height="32px" />
                    	        </a>
                    	    </div>
                        </div>

                        <br />
                    </div>

                	<div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- END Content -->

            <div id="push"></div>
        </div>
        <!-- END Container -->

        <div id="base_footer">
            <div class="shadow_up"></div>
        	<div id="footer-top"></div>
        	<div id="copyright">
        		&#169; {% this_year %} <a href="http://www.scripps.edu" target="_blank">The Scripps Research Institute</a> ({% biogps_ver %})
        	</div>
        	<div id="footer-links">
        	    <a href="/about/">About BioGPS</a>
        	    <a href="/terms/">Terms of Use</a>
        	    <a href="/help/">Help</a>
        	    <a href="/faq/">FAQ</a>
        	    <a href="/downloads/">Downloads</a>
        	    <a href="http://sulab.org/biogps/" target="_blank">Blog</a>
        	    <a href="/iphone/">iPhone App</a>
        	    <a href="#" onclick="coreDispatcher.onGoogleGroupsSignup(event, this);return false;">Email updates</a>
        	</div>
        </div>
    </div>


    <div style="visibility: hidden;">
        <div id="header">
            <div class="topbarsearch">
                <form class="topbarsearch_form" action="javascript:void(null)" method="POST" onsubmit="coreDispatcher.doTopBarSearch(this,event);">
                    <input type="text" class="inactive" size="15" name="topquery"
                           value="Quick gene search"
                           onfocus="coreDispatcher.onInputFocus(this,event);"
                           onblur="coreDispatcher.onInputBlur(this,event);" />
                </form>
            </div>
            <table class='header-bar'>
                <tr>
                <td><div id="mystuff-link"><a href="javascript:biogps.renderMyStuffPanel()">My Stuff</a><!-- &nbsp;&nbsp;<img src="/assets/img/new2.png" /> --></div></td>
                <td><div class="plugin-div"><a href="/plugin/">Plugin library</a></div></td>
                <td><div class="login-div" id="login-bar" style=""><a id='login' href=""></a></div></td>
                </tr>
            </table>
            <div class="biogps-title" id='biogps-logo'>
                <a href="#goto=welcome" style="float:left;margin-right:10px;" title="Go back to welcome page">
                    <img src="/assets/img/biogps-logo4.gif" style="width:84px;height:25px;" alt="biogps_logo" />
                </a>
            </div>
        </div>

        <div id="loginwin"></div>

        <div id="searchpanel"></div>

        <div id="resultpanel"></div>

        <div id="reportpanel">
            <p>Gene report Panel</p>
        </div>

        <div id="msg-ct">
            <div id="msg" style="left: auto; visibility: visible; position: static; top: auto">
                <div class=" " id="msg-inner">
                </div>
            </div>
        </div>

        <div id="south">
            <div id='status_bar'>
            </div>
            <div id='info_bar'>

            </div>
            <div id='footer'>&#169; {% this_year %} <a href="http://www.scripps.edu" target="_blank">The Scripps Research Institute</a> ({% biogps_ver %})</div>
        </div>
    </div>



    <!-- Fields required for history management -->
    <form id="history-form" class="x-hidden" method="post">
        <input type="hidden" id="x-history-field" />
        <iframe id="x-history-frame"></iframe>
    </form>

    {% ga %}
    {% compressed_js 'ext_mainApp' %}
    {% compressed_js 'jquery' %}
    {% compressed_js 'mainApp' %}


    <!-- jQuery initialization -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('#infobox-slideshow').cycle({
             timeout: 7000,
             cleartype: 1,
             speed: 900,
             next:   '#next-item',
             prev:   '#prev-item'
        });
    });

    function pauseResumeSlideshow(showAction) {
        var pauseButtonImage = document.getElementById('pausePlay');
        if (showAction == 'pause') {
            // User clicked back/forward button, pause slideshow
            $('#infobox-slideshow').cycle('pause');
            if (pauseButtonImage.src.search('pause') > -1) pauseButtonImage.setAttribute("src", '/assets/img/icons/control_play_blue.gif');
        } else {
            // User clicked pause/play button
            $('#infobox-slideshow').cycle('toggle');
            (pauseButtonImage.src.search('pause') > -1) ? pauseButtonImage.setAttribute("src", '/assets/img/icons/control_play_blue.gif') : pauseButtonImage.setAttribute("src", '/assets/img/icons/control_pause_blue.gif');
        }
    }
    </script>


    {% autoescape off %}
        <script type="text/javascript">biogps.tip_array = {% biogpstips %}; biogps.ticker_msgs = []; biogps.MAX_QUERY_LENGTH={{max_query_len}}; biogps.AVAILABLE_SPECIES={{available_species}}; biogps.SAMPLE_GENE={{sample_gene}}; {%if alt_defaultlayout %} biogps.alt_defaultlayout = {{alt_defaultlayout}};{% endif %}</script>
    {% endautoescape %}
</body>
</html>
