{% extends "NEW/base_site.html" %}
{% load biogps_tags %}

{% block title %}Downloads{% endblock %}

{% block bodyclass %}flatpage{% endblock %}
{% block content %}
<article>
    <div class="in downloads">
    <div class="roundBox">
		<h1>Datasets on BioGPS</h1>
		<p>Looking for the datasets used in BioGPS?  We've made them easily
		    available for download right here.</p>
		<table class="gridtable">
		    <tr>
		        <th></th>
		        <th>GEO code</th>
		        <th>CSV download</th>
		        <th>Sample Annotation</th>
		    </tr>
		    <tr>
		        <td>Human U133A/GNF1H Gene Atlas</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE1133" target="_blank">GSE1133</a></td>
		        <td>
		            <a href="http://plugins.biogps.org/download/gnf1h-gcrma.zip">gnf1h-gcrma.zip</a> averaged (4.1 MB)<br />
		            <a href="http://plugins.biogps.org/download/gnf1h-gcrma-unaveraged.zip">gnf1h-gcrma-unaveraged.zip</a> (7.1 MB)
		        </td>
		        <td><a href="http://plugins.biogps.org/download/human_sample_annot.csv">human_sample_annot.csv</a> (12 KB)</td>
		    </tr>
		    <tr>
		        <td>Human NCI60 Cell Lines</td>
		        <td>N/A</td>
		        <td><a href="http://plugins.biogps.org/download/NCI60_U133A_20070815.raw.csv.zip">NCI60_U133A_20070815.raw.csv.zip</a> (6.2 MB)</td>
		        <td><a href="http://plugins.biogps.org/download/NCI60_sample_info.xls">NCI60_sample_info.xls</a> (92 KB)</td>
		    </tr>
		    <tr>
		        <td>Mouse GNF1M Gene Atlas</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE1133" target="_blank">GSE1133</a></td>
		        <td><a href="http://plugins.biogps.org/download/GNF1M_geneatlas_20070831.zip">GNF1M_geneatlas_20070831.zip</a> (4.9 MB)</td>
		        <td>N/A</td>
		    </tr>
		    <tr>
		        <td>Mouse MOE430 Gene Atlas</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE10246" target="_blank">GSE10246</a></td>
		        <td>
		            <a href="http://plugins.biogps.org/download/geneatlas_MOE430_20090327.raw.avg.csv.zip">geneatlas_MOE430_20090327.raw.avg.csv.zip</a><br />&nbsp;&nbsp;&nbsp; averaged (12.7 MB)<br />
		            <a href="http://plugins.biogps.org/download/geneatlas_MOE430_20090327.raw.csv.zip">geneatlas_MOE430_20090327.raw.csv.zip</a> (17 MB)
		        </td>
		        <td>N/A</td>
		    </tr>
		    <tr>
		        <td>Rat RGU34A Gene Atlas</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE952" target="_blank">GSE952</a></td>
		        <td><a href="http://plugins.biogps.org/download/Ratlas-gcRMA.zip">Ratlas-gcRMA.zip</a> (5.9 MB)</td>
		        <td>N/A</td>
		    </tr>
            <tr>
		        <td>Human Primary Tumors (U95)</td>
		        <td>N/A</td>
		        <td><a href="http://plugins.biogps.org/download/primary_tumor_classification_data.txt.zip">primary_tumor_classification_data.txt.zip</a> (4.1 MB)</td>
		        <td><a href="http://plugins.biogps.org/download/primary_tumor_sample_annot.zip" target="_blank">primary_tumor_sample_annot.zip</a> (24 KB)</td>
		    </tr>
		    <tr>
		        <td>Mouse Exon Array Gene Atlas</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE15998" target="_blank">GSE15998</a></td>
		        <td>N/A</td>
		        <td>N/A</td>
		    </tr>
		    <tr>
		        <td>Mouse Adipose eQTL</td>
		        <td>N/A</td>
		        <td><a href="http://plugins.biogps.org/download/adipose_MOE430_20071005.raw.csv.gz">adipose_MOE430_20071005.raw.csv.gz</a> (3.4 MB)</td>
		        <td>N/A</td>
		    </tr>
		</table>
	</div>

    <div class="roundBox">
        <h1>Chip Annotation</h1>
        <p></p>
        <table class="gridtable">
		    <tr>
		        <th>Chip Name</th>
		        <th>Chip Annotation File</th>
		        <th>Updated</th>
		        <th>GEO Platform Accession</th>
		    </tr>
		    <tr>
		        <td>Mouse GNF1M</td>
		        <td><a href="http://plugins.biogps.org/download/gnf1m-anntable.zip">gnf1m-anntable.zip</a> (1.3 MB)</td>
		        <td>May 2007</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GPL1073">GPL1073</a></td>
		    </tr>
		    <tr>
		        <td>Human GNF1H</td>
		        <td><a href="http://plugins.biogps.org/download/gnf1h-anntable.zip">gnf1h-anntable.zip</a> (0.5 MB)</td>
		        <td>May 2007</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GPL1074">GPL1074</a></td>
		    </tr>
		    <tr>
		        <td>Human U133A</td>
		        <td colspan="2"><a href="http://www.affymetrix.com/support/technical/byproduct.affx?product=hgu133" target="_blank">Maintained by Affymetrix</a></td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GPL96">GPL96</a></td>
		    </tr>
		    <tr>
		        <td>Mouse MOE430 2.0</td>
		        <td colspan="2"><a href="http://www.affymetrix.com/support/technical/byproduct.affx?product=moe430-20" target="_blank">Maintained by Affymetrix</a></td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GPL1261">GPL1261</a></td>
		    </tr>
		</table>
    </div>

    <div class="roundBox">
        <h1>Publications &amp; References</h1>
        <table class="gridtable">
		    <tr>
		        <th>Subject</th>
		        <th>Citation</th>
		        <th>PubMed</th>
		        <th>PDF</th>
		    </tr>
		    <tr>
		        <td><b>BioGPS Application</b></td>
		        <td>Wu C, Orozco C, Boyer J, Leglise M, Goodale J, Batalov S,
		            Hodge CL, Haase J, Janes J, Huss JW 3rd, Su AI (2009)
		            BioGPS: an extensible and customizable portal for querying
		            and organizing gene annotation resources. <i>Genome Biol.</i> <b>10</b>(11):R130.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/19919682" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/biogps-gb-2009-10-11-r130.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>Circadian genomics screen</td>
		        <td>Zhang EE, Liu AC, Hirota T, Miraglia LJ, Welch G, Pongsawakul
                 PY, Liu X, Atwood A, Huss JW 3rd, Janes J, Su AI, Hogenesch JB, Kay SA.
                 (2009) A genome-wide RNAi screen for modifiers of the circadian clock in
                 human cells. <i>Cell</i>. <b>139</b>(1):199-210.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/19765810" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/circadian-cell-2009-09-17.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>MOE430 Gene Atlas Data set</td>
		        <td>Lattin JE, Schroder K, Su AI, Walker JR, Zhang J, Wiltshire
		            T, Saijo K, Glass CK, Hume DA, Kellie S, Sweet MJ (2008)
		            Expression analysis of G Protein-Coupled Receptors in mouse
		            macrophages. <i>Immunome Res.</i> 4:5.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/18442421" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/2008-Lattin-1745-7580-4-5.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>eQTL Adipose Data set</td>
		        <td>Wu C, Delano DL, Mitro N, Su SV, Janes J, McClurg P,
		            Batalov S, Welch GL, Zhang J, Orth AP, Walker JR,
		            Glynne RJ, Cooke MP, Takahashi JS, Shimomura K, Kohsaka A,
		            Bass J, Saez E, Wiltshire T, Su AI (2008) Gene set
		            enrichment in eQTL data identifies novel annotations and
		            pathway regulators. <i>PLoS Genetics</i> 4(5):e1000070.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/18464898" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/2008-Wu-1000070.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>eQTL Hypothalamus Data set</td>
		        <td>McClurg P, Janes J, Wu C, Delano DL, Walker JR, Batalov S,
		            Takahashi JS, Shimomura K, Kohsaka A, Bass J, Wiltshire T,
		            Su AI (2007) Genomewide association analysis in diverse
		            inbred mice: power and population structure. <i>Genetics</i> 176(1):675-83.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/17409088" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/2007-McClurg-176-1-675.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>HG_U133A/GNF1H and GNF1M Gene Atlas Data sets</td>
		        <td>Su AI, Wiltshire T, Batalov S, Lapp H, Ching KA, Block D,
		            Zhang J, Soden R, Hayakawa M, Kreiman G, Cooke MP, Walker
		            JR, Hogenesch JB (2004) A gene atlas of the mouse and human
		            protein-encoding transcriptomes. <i>Proc Natl Acad Sci U S A.</i> 101(16):6062-7.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/15075390" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/PNAS-2004-Su-6062-7.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>HG_U95A and MG_U74A Gene Atlas Data sets</td>
		        <td>Su AI, Cooke MP, Ching KA, Hakak Y, Walker JR, Wiltshire T,
		            Orth AP, Vega RG, Sapinoso LM, Moqrich A, Patapoutian A,
		            Hampton GM, Schultz PG, Hogenesch JB. (2002) Large-scale
		            analysis of the human and mouse transcriptomes. <i>Proc Natl Acad Sci U S A.</i> 99(7):4465-70.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/11904358" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/PNAS-2002-Su-4465-70.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>RG_U34A Gene Atlas Data set</td>
		        <td>Walker JR, Su AI, Self DW, Hogenesch JB, Lapp H, Maier R,
		            Hoyer D and Bilbe G (2004) Applications of a rat multiple
		            tissue gene expression dataset. <i>Genome Res.</i> 14(4):742-9.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/15060018" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/2004-Walker-742-9.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		    <tr>
		        <td>Primary Tumors (U95) Data set</td>
		        <td>Su AI, Welsh JB, Sapinoso LM, Kern SG, Dimitrov P, Lapp H,
		            Schultz PG, Powell SM, Moskaluk CA, Frierson HF Jr, Hampton
		            GM (2001) Molecular classification of human carcinomas by
		            use of gene expression signatures. <i>Cancer Res.</i> 61(20):7388-93.</td>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/11606367" target="_blank"><img src="/assets/img/pubmed_icon.png" alt="PubMed" width="57" height="20"></a></td>
		        <td><a href="http://plugins.biogps.org/download/2001-Su-7388.pdf"><img src="/assets/img/pdf_icon_24.png" alt="Download the PDF" width="24" height="24"></a></td>
		    </tr>
		</table>
    </div>

    <div class="roundBox">
        <h1>Graphics, Logos, etc.</h1>
        <p>Want to link to BioGPS?  Writing an article or giving a presentation?
            We've put together a collection of graphics for you to use. Simply
            right-click on any of the images below and save it.</p>
        <p>If the images here aren't quite what you need, feel free to <a href="/help/">contact us</a> and we can help.</p>
        <table class="gridtable">
		    <tr>
		        <th>Image</th>
		        <th>File Type</th>
		        <th>Background</th>
		        <th>Dimensions</th>
		        <th>Size</th>
		    </tr>
		    <tr>
                <td><img src="/assets/img2/biogps_logo-618x190.png" /></td>
                <td>PNG</td>
                <td>Transparent</td>
                <td>618 x 190</td>
                <td>49 KB</td>
            </tr>
		    <tr>
		        <td><img src="/assets/img2/biogps_logo.png" /></td>
		        <td>PNG</td>
		        <td>Transparent</td>
		        <td>280 x 82</td>
		        <td>20 KB</td>
		    </tr>
		    <!-- <tr>
		        <td><img src="/assets/img/gnf_logo.gif" /></td>
		        <td>GIF</td>
		        <td>White</td>
		        <td>261 x 67</td>
		        <td>6.9 KB</td>
		    </tr> -->
		    <tr>
		        <td><img src="/assets/img/iphone/app_icon_mirror-100x143.png" /></td>
		        <td>PNG</td>
		        <td>Transparent</td>
		        <td>100 x 143</td>
		        <td>23 KB</td>
		    </tr>
		</table>
    </div>

</div>
</article>

{% endblock %}
