{% extends "base_site.html" %}
{% load biogps_tags %}

{% block title %}Screencasts{% endblock %}

{% block content %}
<div id="fixedWrapper">
    <div class="infopage">

      <br/>
      <br/>
      <br/>

        <center>
          <a href="/"><img border="0" src="/assets/img/biogps-logo_big.png"/></a><p>
          <font size="+2" face="arial">
            </font></p><div style="width: 500px; color: rgb(0, 0, 170);">
    <font size="+2" face="arial">          To learn more about BioGPS, please check out these screencasts:</font><p>
    <font size="+2" face="arial">      </font>
              </p><p style="text-align: center;">
              <a target="_blank" href="http://plugins.biogps.org/screencasts/searching">Searching in BioGPS</a> (1:58)<br \=""/>
              <a target="_blank" href="http://plugins.biogps.org/screencasts/default_layout_tour">View the standard gene report</a> (2:18)<br \=""/>
              <a target="_blank" href="http://plugins.biogps.org/screencasts/default_layouts">Tour the default layouts</a> (2:44)<br \=""/>
              <a target="_blank" href="http://plugins.biogps.org/screencasts/customizing_layouts">Customizing gene report layouts</a> (3:24)<br \=""/>
              <a target="_blank" href="http://plugins.biogps.org/screencasts/plugin_registration">Registering your own BioGPS plugin</a> (3:31)<br \=""/>
              </p>
              <p>
    To view the archive of past questions and comments, please see the <a href="http://groups.google.com/group/biogps" target="_blank">BioGPS Google Group</a>.  To submit a new question or comment, please email us at biogps -at- googlegroups -dot- com.
            </p></div>

        </center>
    </div>

</div>
{% endblock %}
