<div id="geneviewer_{{ container }}_{{ geneid }}_container" style="visibility: visible">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="{{ width }}" height="{{ height }}" id="geneviewer_{{ container }}_{{ geneid }}"    codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="{{ swfsrc }}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="true" />
    <param name="wmode" value="transparent" />
    <param name="flashvars" value="geneID={{ geneid }}&heightautofit=off"/>
    <embed src="{{ swfsrc }}" quality="high" bgcolor="#ffffff" width="{{ width }}" height="{{ height }}"
        name="geneviewer_{{ container }}_{{ geneid }}" align="middle"
        play="true"
        loop="false"
        quality="high"
        allowScriptAccess="sameDomain"
        allowFullScreen="true"
        wmode="transparent"
        flashvars="geneID={{ geneid }}&heightautofit=off"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
</object>
</div>
