{% load biogps_filters %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
<style type="text/css">
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	overflow: auto;
}
table {
	margin-bottom: 10px;
}
.anndetail {
	background-color: #000066;
	border: 2px solid #000066;
    font-size: smaller;
}
.anntag {
	color: #FFFFFF;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFCC;
	padding: 1px;
    font-size: smaller;
}
.annval {
    font-size: smaller;
	color: #000066;
	background-color: #FFFFCC;
	margin: 0px;
	padding: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000066;
}
.subtitle {
    font-weight: bold;
    text-decoration: underline;
}
ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
li {
    list-style: none;
}
.sublist {
    padding-left:10px;
}

</style>
    <title>Gene Identifiers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <base target="_blank">
  </head>
  <body>
  <script>
  function changeSpecies(selector){
    var selected_geneid = document.getElementsByName(selector)[0].value;
    var new_url = window.location.toString().replace("{{geneobj.id}}",selected_geneid);
    window.location.href = new_url;
  }
  </script>

	{%comment%}{% for gene in geneobj.genelist %}{%endcomment%}
    {% with geneobj as gene %}
    {%with geneobj.get_homologene as hgene%}
    <table border="0" cellpadding="0" cellspacing="0" class="anndetail">

      {%if not hide_species %}
      <!-- SPECIES SECTION -->
      <tr>
        <td class="anntag">Species:</td>
        <td class="annval">
        {% if hgene %}
        <select name="species_selector_0" onchange="changeSpecies('species_selector_0')">
            {% for g in hgene.genes %}
                {% ifequal g.taxid gene.taxid %}
                <option value="{{g.geneid}}" selected>{{g.species}}</option>
                {% else %}
                <option value="{{g.geneid}}">{{g.species}}</option>
                {% endifequal %}
            {% endfor %}
        </select>
        {% else %}
              <option value="{{gene.id}}" selected>{{gene.species}}</option>
        {% endif %}
        </td>
      </tr>
      {% endif %}

      <!-- SYMBOL SECTION -->
      <tr>
        <td class="anntag">Symbol:</td>
        <td class="annval">{{gene.symbol|default_if_none:""}}</td>
      </tr>

      <!-- DESCRIPTION SECTION -->
      <tr>
        <td class="anntag">Description:</td>
        <td class="annval">{{gene.name|default_if_none:""}}</td>
      </tr>

      <!-- ACCESSIONS SECTION -->
      <tr>
        <td class="anntag">Accessions:</td>
        <td class="annval">
            <!-- Entrez Gene -->
            {% if gene.entrezgene %}
                <a href="http://www.ncbi.nlm.nih.gov/gene/{{gene.entrezgene}}">{{gene.entrezgene}}</a> (NCBI Gene) <br />
            {% endif %}
            <!-- Ensembl Gene -->
            {% if gene.ensembl%}
                {% for ens in gene.ensembl|alwayslist %}
                <a href="http://www.ensembl.org/{{gene.ensemblURLPrefix}}/Gene/Summary?g={{ens.gene}}">{{ens.gene}}</a> (Ensembl) <br />
                {% endfor %}
            {% endif %}
            <!-- Uniprot -->
            {% if gene.uniprot%}
                {% for uniprot_type, uniprot in gene.uniprot.items %}
                    {% ifequal uniprot_type "Swiss-Prot"%}
                    {% for uniprot_id in uniprot|alwayslist %}
                    <a href="http://www.uniprot.org/uniprot/{{uniprot_id}}">{{uniprot_id}}</a> (UniProt) <br />
                    {% endfor %}
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            <!-- WormBase -->
            {% if gene.WormBase %}
                <a href="http://www.wormbase.org/db/gene/gene?name={{gene.WormBase}}">{{gene.WormBase}}</a> (WormBase) <br />
            {% endif %}
            <!-- ZFIN -->
            {% if gene.ZFIN %}
                <a href="http://zfin.org/cgi-bin/webdriver?MIval=aa-markerview.apg&OID={{gene.ZFIN}}">{{gene.ZFIN}}</a> (ZFIN) <br />
            {% endif %}
            <!-- TAIR -->
            {% if gene.TAIR %}
                <a href="http://www.arabidopsis.org/servlets/TairObject?name={{gene.TAIR}}&type=locus">{{gene.TAIR}}</a> (TAIR) <br />
            {% endif %}
            <!-- FLYBASE -->
            {% if gene.FLYBASE %}
                <a href="http://flybase.org/reports/{{gene.FLYBASE}}.html">{{gene.FLYBASE}}</a> (FLYBASE) <br />
            {% endif %}
            <!-- MGI -->
            {% if gene.MGI %}
                <a href="http://www.informatics.jax.org/searches/accession_report.cgi?id=MGI:{{gene.MGI}}">{{gene.MGI}}</a> (MGI) <br />
            {% endif %}
            <!-- RGD -->
            {% if gene.RGD %}
                <a href="http://rgd.mcw.edu/tools/genes/genes_view.cgi?id={{gene.RGD}}">{{gene.RGD}}</a> (RGD) <br />
            {% endif %}
            <!-- MIM -->
            {% if gene.MIM %}
                <a href="http://omim.org/entry/{{gene.MIM}}">{{gene.MIM}}</a> (OMIM) <br />
            {% endif %}
            {% if gene.Xenbase %}
                <a href="http://www.xenbase.org/gene/showgene.do?method=displayGeneSummary&geneId={{gene.Xenbase}}">{{gene.Xenbase}}</a> (Xenbase) <br />
            {% endif %}
            <!-- HPRD -->
            <!-- HGNC -->
            <!-- HomoloGene -->
            {% if gene.homologene %}
                <a href="http://www.ncbi.nlm.nih.gov/homologene/{{gene.homologene.id}}">{{gene.homologene.id}}</a> (HomoloGene) <br />
            {% endif %}

        </td>
      </tr>

      <!-- ALIASES SECTION -->
      <tr>
        <td class="anntag">Aliases:</td>
        <td class="annval">
            {% if gene.alias %}
                {{gene.alias|smartjoin:", "}}
            {% endif %}
        </td>
      </tr>

      <!-- GENOME LOCATION SECTION -->
      <tr>
        <td class="anntag">Genome Location:</td>
        <td class="annval">
            {% with gene.get_genomelocation_string as genomeloc %}
            {% with gene.get_genomeassembly as assembly %}
            {% if genomeloc and assembly %}
                {% for gloc in genomeloc|alwayslist %}
                <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db={{assembly}}&position={{gloc|escape}}">{{gloc}}</a> ({{assembly}})
                {% endfor %}
            {%else%}
            {% endif %}
            {% endwith %}
            {% endwith %}
        </td>
      </tr>


      <!-- GENE ONTOLOGY SECTION -->
      <tr>
        <td class="anntag">Function:</td>
        <td class="annval">
          {% if gene.go %}
          <!-- MOLECULAR FUNCTION -->
          {% if gene.go.MF %}
            <span class="subtitle">Molecular Function</span>
            <ul>
            {% for goterm in gene.go.MF|alwayslist %}
              <li>{{goterm.term}} (<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{goterm.id}}">{{goterm.id}}</a>)
              </li>
            {% endfor %}
            </ul>
          {% endif %}

          <!-- BIOLOGICAL PROCESS -->
          {% if gene.go.BP %}
            <span class="subtitle">Biological Process</span>
            <ul>
            {% for goterm in gene.go.BP|alwayslist %}
              <li>{{goterm.term}} (<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{goterm.id}}">{{goterm.id}}</a>)
              </li>
            {% endfor %}
            </ul>
          {% endif %}

          <!-- CELLULAR COMPONENT -->
          {% if gene.go.CC %}
            <span class="subtitle">Cellular Component</span>
            <ul>
            {% for goterm in gene.go.CC|alwayslist %}
              <li>{{goterm.term}} (<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{goterm.id}}">{{goterm.id}}</a>)
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          {%else%}
          {%endif %}
        </td>
      </tr>

      <!-- INTERPRO SECTION -->
      <tr>
        <td class="anntag">Interpro:</td>
        <td class="annval">
            {% if gene.interpro%}
            <ul>
             {% for term in gene.interpro|alwayslist %}
              <li>{{term.desc}} (<a href="http://www.ebi.ac.uk/interpro/IEntry?ac={{term.id}}">{{term.id}}</a>)
              </li>
            {% endfor %}
            </ul>
            {%else%}
            {% endif %}
        </td>
      </tr>

      <!-- TRANSCRIPTS SECTION -->
      <tr>
        <td class="anntag">Transcripts:</td>
        <td class="annval">
            <ul>
            {% if gene.refseq%}
                {% for id in gene.refseq.rna|alwayslist %}
                    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val={{id}}">{{id}}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if gene.ensembl%}
                {% for ens in gene.ensembl|alwayslist %}
		             {% for id in ens.transcript|alwayslist %}
		              <li><a href="http://www.ensembl.org/{{gene.ensemblURLPrefix}}/transview?transcript={{id}}">{{id}}</a>
		              </li>
		             {% endfor %}
                {% endfor %}
            {% endif %}
            </ul>
        </td>
      </tr>

      <!-- PROTEINS SECTION -->
      <tr>
        <td class="anntag">Proteins:</td>
        <td class="annval">
            <ul>
            {% if gene.refseq%}
                {% for id in gene.refseq.protein|alwayslist %}
                    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val={{id}}">{{id}}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if gene.ensembl%}
                {% for ens in gene.ensembl|alwayslist %}
                     {% for id in ens.protein|alwayslist %}
                      <li><a href="http://www.ensembl.org/{{gene.ensemblURLPrefix}}/transview?transcript={{id}}">{{id}}</a>
                      </li>
                     {% endfor %}
                {% endfor %}
            {% endif %}
            </ul>
        </td>
      </tr>

      <!-- AFFY REPORTERS SECTION -->
      <tr>
        <td class="anntag">Reporters:</td>
        <td class="annval">
             {% for platform, ids in gene.reporter.items %}
             <span class="subtitle">{{platform}}</span>
             <ul>
             {% for id in ids|alwayslist %}
              {% comment %}<li><a href="https://www.affymetrix.com/analysis/netaffx/fullrecord.affx?pk={{id}}">{{id}}</a>{% endcomment %}
              <li class="sublist"><a href=" http://genome.ucsc.edu/cgi-bin/hgTracks?db={{gene.get_genomeassembly}}&position={{id}}">{{id}}</a></li>
              {% endfor %}
              </ul>
            {% endfor %}
        </td>
      </tr>

      <!-- GNF REAGENTS SECTION -->
      {% if user.is_gnf_user %}
      <tr>
        <td class="anntag">Reagents:</td>
        <td class="annval">
             {% for library, reagents in gene.reagent.items %}
             <span class="subtitle">{{library}}</span>
             <ul>
             {% for reagent in reagents|alwayslist %}
              <li class="sublist"><a href="http://compdisc.gnf.org/cgi-bin/biogps_plugins/GNFreagentInfo.cgi?id={{reagent.id}}">{{reagent.id}}</a></li>
              {% endfor %}
             </ul>
            {% endfor %}
        </td>
      </tr>
      {% endif %}

    </table>
    {% endwith %}
    {% endwith %}
    {%comment%}{% endfor %}{%endcomment%}
  </body>
</html>
