{% extends 'account/base.html' %}
{% load i18n %}

{% block title %} New user signed up | BioGPS {% endblock %}
{% block userlinks %}{% endblock %}

{% block branding %}
User Sign Up
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; <a href="{% url 'auth_register' %}">Sign up</a></div>{% endblock %}

{% block content %}
<h2>
Thank you for signing up. An email with the activation code has been sent to your inbox. Please follow the instruction to activate your account.
</h2>

<script type="text/javascript">
	function getQueryVariable(variable) {
	  var query = window.location.search.substring(1);
	  var vars = query.split("&");
	  for (var i=0;i<vars.length;i++) {
	    var pair = vars[i].split("=");
	    if (pair[0] == variable) {
	      return pair[1];
	    }
	  }
	}

	var email = getQueryVariable('email');
	if (email){
		document.write('<h3 style="padding-top:20px;padding-bottom:10px;">');
		document.write('*Per your request, we also signed you up for our "biogps-announce" Google group. You will receive a seperate email to confirm the subscription.');
		document.write('</h3>');
		document.write('<p>');

		document.write('<iframe src="http://groups.google.com/group/biogps-announce/boxsubscribe?email='+email+
			       '" width="50%" height="400px" frameborder=0></iframe>');
		document.write('</p>');
	}
</script>
{% endblock %}
