{% extends 'account/base.html' %}
{% load i18n %}

{% block bodyclass %}authpage register{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; <a href="{%url auth_dashboard %}"> Account </a> &rsaquo; <a href="{%url auth_userinfo_edit %}">  Edit information </a> &rsaquo; Email change</div>{% endblock %}

{% block content %}
<article>
<div class="in">
    <div class="editAccountForm roundBoxBlue">
        <h1>{% trans "Change email" %}</h1>
        <form method="post" action="{% url 'auth_email_change' %}">
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Save" %}" /></p>
        </form>
    </div>
</div>
<article>
{% endblock %}
