{% extends "NEW/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; <a href="{% url 'auth_dashboard' %}">Account</a> &rsaquo; Password change</div>{% endblock %}

{% block bodyclass %}authpage login{% endblock %}
{% block title %}Change Password{% endblock %}

{% block content %}
<article>
<div class="in">
    <div class="editAccountForm roundBoxBlue">
        {% if user.is_openid_only %}
            <h1>WARNING</h1>
            <h3>Your account uses OpenID for authentication.</h3>
            <p>The form below is for BioGPS passwords only!</p>
            <p>If you fill out the change password form below, you will then be
                able to login to your account through <b>both</b> OpenID and
                the normal BioGPS login box.</p>
            <br />
            <p>Alternatively, you can <a href="{% url 'auth_change_openid' %}">change your OpenID URL</a>.  If you're
                trying to change your OpenID password, you need to do that from
                your provider's website (Google, Yahoo, etc.)</p>
            </div>
            <div class="editAccountForm roundBox">
        {% else %}
            {% if user.has_openid %}
                <h1>BioGPS Passwords Only</h1>
                <h3>Your account uses both OpenID and BioGPS for authentication.</h3>
                <p>The form below will only change your BioGPS password.  Your
                    OpenID login will stay the same.</p>
                <br />
                <p>Alternatively, you can <a href="{% url 'auth_change_openid' %}">change your OpenID URL</a>.  If you're
                    trying to change your OpenID password, you need to do that from
                    your provider's website (Google, Yahoo, etc.)</p>
                </div>
                <div class="editAccountForm roundBox">
            {% endif %}
        {% endif %}

        {% if user.is_openid_only %}
            <h1>Set BioGPS Password</h1>
            <p><b>You don't currently have a BioGPS password. That's okay!</b><br />
                If you would like to set a BioGPS password anyway, please enter it twice so we can verify you typed it in correctly.</p>
        {% else %}
            <h1>Change Password</h1>
            <!-- <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p> -->
        {% endif %}

        <form action="{% url 'auth_password_change' %}" method="post">

        	<table id="content-table">
        	{% if not user.is_openid_only %}
                 	{% if form.oldpassword.errors %}
            		<tr>
            			<td colspan="2"><ul class="errorlist"><li>{{ form.oldpassword.errors.0 }}</li></ul></td>
            		</tr>
                	{% endif %}
            		<tr>
            		    <td align="right" valign="top"><label for="id_oldpassword">Old password:</label></td>
            		    <td>{{ form.oldpassword }}</td>
            		</tr>
            	{% endif %}

        	{% if form.password1.errors %}
        		<tr>
        			<td colspan="2">{{ form.password1.errors }}</td>
        		</tr>
        	{% endif %}
        		<tr>
        		    <td align="right" valign="top"><label for="id_password1">New password:</label></td>
        		    <td>{{ form.password1 }}</td>
        		</tr>

        	{% if form.password2.errors %}
        		<tr>
        			<td colspan="2">{{ form.password2.errors }}</td>
        		</tr>
        	{% endif %}
        		<tr>
        		    <td align="right" valign="top"><label for="id_password2">Confirm password:</label></td>
        		    <td>{{ form.password2 }}</td>
        		</tr>
        		<tr>
        		    <td>&nbsp;{{ form.authkey }} {{ form.uid }}</td>
        		    <td><input type="submit" value="Change my password" /></td>
        		</tr>
        	</table>

        </form>
    </div>
</div>
</article>
{% endblock %}
