{% extends "NEW/base_auth.html" %}

{% block title %}
Request password reset
{% endblock %}

{% block bodyclass %}authpage register{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a> &rsaquo; Request password reset</div>{% endblock %}

{% block content %}
<article>
<div class="in">
    <div class="editAccountForm roundBoxBlue">
        <h1>Request password reset</h1>
        <p>Forgotten your password? Enter your username and e-mail address below, and we'll e-mail instructions for setting a new one.</p>

        <form action="{% url auth_password_reset %}" method="POST">
        <table>
        <tr>
            <td align="right" valign="top">Username:</td>
            <td>
                {{ form.username }} <br/>
                {% for error in form.username.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">Email:</td>
            <td>
                {{ form.email }} <br/>
                {% for error in form.email.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Request now" /></td>
        </tr>

        </table>
        </form>
    </div>
    <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
</div>
</article>
{% endblock %}
