<script>
var feedentry_preview_list = [
{% for entry in entries %}
	'{{ entry.summary|striptags|truncatewords:20}}&nbsp;&nbsp;&nbsp;[<a href="{{ entry.link }}" target="_blank"><b>view more</b></a>]',
{% endfor %}];

toggle_preview = function(entry_id){
	var entry_preview_el = document.getElementById('feedentry_'+entry_id+'_preview');
	if (entry_preview_el.innerHTML==''){
		entry_preview_el.style.height='auto';
		entry_preview_el.innerHTML = feedentry_preview_list[entry_id-1];
	}
	else{
		entry_preview_el.innerHTML = '';
		entry_preview_el.style.height='1px';
		//entry_preview_el.style.overflow='hidden';  // this is set in css file now
	}

	if (window.Ext){
		var entry = Ext.get('feedentry_'+entry_id);
		var entry_preview = Ext.get(entry_preview_el);
		if (entry && entry_preview){
			if (entry.hasClass('feedentry')){
				entry.replaceClass('feedentry','feedentry_expanded');
			}
			else if (entry.hasClass('feedentry_expanded')){
				entry.replaceClass('feedentry_expanded','feedentry');
			}
		}
	}
}
</script>
<div>

	<h2 class="feedname"><a href="{{ feed.title_detail.base }}"><img src="/assets/img/feed.png" align="absmiddle" style="margin-left:5px; margin-right:5px;"  /></a><a href="{{ feed.link }}" target="_blank">{{ feed.title }} blogs</a></h2>

	<ul class="feedentries">
		{% for entry in entries %}
		<li id="feedentry_{{forloop.counter}}" class="feedentry"><a href="javascript: toggle_preview({{forloop.counter}});">{{ entry.title }}</a><br />
		<div id="feedentry_{{forloop.counter}}_preview" class="feedentry_preview"></div>
		</li>
		{% endfor %}
	</ul>
</div>
