{% extends "m_base.html" %}
{% load biogps_tags %}
{% load biogps_filters %}

{% block title %}Search Results - BioGPS Mobile{% endblock %}

{% block content %}

<div id="welcome-search">
	<div id="search_results">
	    {% if results %}
	        Found {{ results.totalCount }} results.
            <ul>
    		{% for gene in results.geneList %}
    		    <li><a href="/m/gene/{{ gene.id }}/">{{ gene.symbol }}
    		        {% if gene.name %} ({{ gene.name|truncatewords:5 }}){% endif %}
                    {% if gene.taxid %} - {{ gene.taxid|as_species }}{% endif %}
    		    </a></li>
    		{% endfor %}
    		</ul>
    	{% else %}
            {% if error %}
                Could not execute query due to the following exception(s):
                <pre style="white-space: pre-wrap;">{{ error }}</pre>
            {% else %}
                No results were found for your search.
            {% endif %}
	    {% endif %}
	</div>
</div>

{% endblock %}
