{% extends "NEW/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Home</a></div>{% endblock %}

{% block bodyclass %}authpage login{% endblock %}
{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<article>
  <div class="in">
    <div class="editAccountForm roundBoxBlue">
      
      <h1>{% trans "Sign Up" %}</h1>
      
      <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
      
      <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        
        {# {{ form.as_p }} #}
        
        <table id="content-table">
          {% if form.username.errors %}
          <tr>
            <td colspan="2">{{ form.username.errors }}</td>
          </tr>
          {% endif %}
          <tr>
            <td align="right" valign="top"><label for="id_username">Username:</label></td>
            <td>{{ form.username }}</td>
          </tr>
          
          {% if form.email.errors %}
          <tr>
            <td colspan="2">{{ form.email.errors }}</td>
          </tr>
          {% endif %}
          <tr>
            <td align="right" valign="top"><label for="id_email">E-mail:</label></td>
            <td>{{ form.email }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button type="submit">{% trans "Sign Up" %} &raquo;</button></td>
          </tr>
        </table>
        
        
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
      </form>
      
    </div>
  </div>
</article>
{% endblock %}
