{% extends "profile/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load biogps_tags %}

{% block title %}{{ vprofile.name|escape }} | BioGPS{% endblock %}
{% block branding %}
    {{ vprofile.name|escape }}'s Profile
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="/assets/css/pagination.css" />
{% endblock %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo;
    {% if isOwner %}My{% else %}{{ vprofile.name|escape }}'s{% endif %}
    Profile</div>
{% endblock %}

{% block content %}

<!--<div id="content-main">-->
<div id="fixedWrapper">
    {% if error_message %}
    <ul class="errorlist"><li>{{ error_message }}</li></ul>
    {% endif %}

    <div class="roundBoxBlue" id="profileHeader">
        <div class="column-12">
            <div id="profileName">
                <h1>{{ vprofile.name|escape }}</h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ vprofile.affiliation|escape }}
            </div>
            <div id="profileEmail">{{ vprofile.email|escape }}</div>
        </div>

        {% if isOwner %}
            <div id="accountLinks">
                <h4>Account Management</h4>
                <p><a href="{% url 'auth_userinfo_edit' %}">Edit account information</a></p>
                <p><a href="{% url 'auth_password_change' %}">Change BioGPS password</a></p>
                {% if user.has_openid %}
                    <p><a href="{% url 'auth_change_openid' %}">Change OpenID</a></p>
                {% endif %}
                <p><a href="#" id="privacyLink">Privacy Controls</a></p>
            </div>
        {% else %}
            <div id='namePrivacy' class='profileControls'>
                {% if isFriend %}
                    You are friends with {{ vprofile.name|escape }}.
                {% else %}
                    {% if inviteStatus %}
                        <a href="{%url friends %}" class='roundButton'>Friend Request Sent</a>
                    {% else %}
                        {% if inverseInviteStatus %}
                            {{ vprofile.name|escape }} sent you a <a href="{%url friends %}">Friend Request</a>
                        {% else %}
                            {% if user.is_authenticated %}
                                <div id="profileFriend"></div>
                            {% else %}
                                <a href="{% url 'auth_register' %}"><b>Sign Up for BioGPS</b></a> to link to {{ vprofile.name }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>

    {% if isOwner %}
        <div class="roundBoxBlue popup-box" id="profileControlBox" style="display:none">
            <div id="profilePrivacy"></div>

            <div class="clear"></div>
        </div>
    {% else %}
        <div class="roundBoxBlue popup-box" id="friendMessageBox" style="display:none">
        </div>
    {% endif %}


    <div class="column-12">
        {% if vprofile.info or isOwner %}
        <div class="roundBox" id="profileInfo">
            {% for info in vprofile.info %}
                <h2>{{ info.name|striptags }}</h2>
                {{ info.body|striptags|linebreaksbr }}
                <br>&nbsp;
            {% endfor %}
        </div>
        {% endif %}

        {% if vplugins %}
        <div class="roundBox">
            <h2>Plugins</h2>
            <ul>
                {% autopaginate vplugins %}
                {% for p in vplugins %}
                    <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                {% endfor %}
                {% paginate %}
            </ul>
        </div>
        {% endif %}
    </div>


    <div class="column-3">
        {% if vprofile.links or isOwner %}
        <div class="roundBox" id="profileLinks">
            <h2>Links</h2>
            <ul>
            {% for link in vprofile.links %}
                <li><a href='{{ link.url|striptags }}' target='_blank'>{{ link.name|striptags }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if vprofile.show_friends %}
        <div class="roundBox">
            <h2>{% if isOwner %}<a href="{%url friends %}">Friends on BioGPS &raquo;</a>{% else %}Friends on BioGPS{% endif %}</h2>
            {% if vfriends %}
            <ul class="friends_list">
                {% for friend in vfriends %}
                    <li><a href="{{ friend.get_absolute_url }}">{{ friend.get_valid_name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                {% if isOwner %}
                    <div>You have not connected with your friends yet.</div>
                {% else %}
                    {{ vuser.display_name }} hasn't connected with any friends yet.
                {% endif %}
            {% endif %}

            {% if isOwner %}
                <div class='profileControls'>
                    <a href="{% url 'invite_friend' %}" rel="facebox" class="roundButton">{% trans "Invite someone new to join" %}</a>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>


    <div id="meta_profile" data="{
        id: '{{ vprofile.id }}',
        fqu: '{{ vuser.username }}'
    }"></div>
    {% if isOwner %}
        <div id="meta_info" data="[
            {% if not vprofile.info %}{}{% endif %}
            {% for info in vprofile.info %}
                { name: '{{ info.name|striptags|addslashes }}', body: '{{ info.body|striptags|addslashes|linebreaksbr }}' }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ]"></div>

        <div id="meta_links" data="[
            {% if not vprofile.links %}{}{% endif %}
            {% for link in vprofile.links %}
                { name: '{{ link.name|striptags|addslashes }}', url: '{{ link.url|striptags|addslashes }}' }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ]"></div>

        <div id="meta_privacy" data="{
            profile_visible: '{{ vprofile.privacy.profile_visible }}',
            name_visible: '{{ vprofile.privacy.name_visible }}',
            email_visible: '{{ vprofile.privacy.email_visible }}'
        }"></div>
    {% endif %}

</div>

<div id="savingProfile" style='display:none'>
    <img src="/assets/img/loading.gif">&nbsp;&nbsp;SAVING PROFILE
</div>
{% endblock %}
